discord.py
flask
python-dotenv
better-profanity
joblib
scikit-learn
requests
numpy
pandas
pymongo
datetime
Pillow
python-Levenshtein
transformers==4.45.3
torch==2.8.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
gunicorn