discord.py
flask
python-dotenv
better-profanity
joblib
scikit-learn
requests
numpy
pandas
pymongo
datetime
Pillow
python-Levenshtein
transformers>=4.40.0
torch --extra-index-url https://download.pytorch.org/whl/cpu
gunicorn