discord.py
flask
python-dotenv
better-profanity
joblib
scikit-learn
requests
numpy
pandas
pymongo
datetime
Pillow
python-Levenshtein
transformers
torch==2.3.1+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
gunicorn